:root {
    /* background */
    --background-mobile-header: #00473E;
    --bg-medium-header: #fffffe;
    //--background-
    
    
    /* btn primary */


    /* btn secondary */
//--btn-primary-color
//--btn-secondary-color

    /* text */
    text-decoration: none;
    --color-white-title: #FFFFFE;
    --color-main-text: #FFFFFF;
    --color-green-title:#078080;
    --color-orange-button:#FA5246;
    /*primary-color-text*/
    --text-primary-color:#FFFFFE;
    --text-secondary-color:#FFFFFF;
    --text-tertiary-color:#00473E;
     
    


    /* stroke */

    /* Padding */
    //--padding-small pour le mobile
    //--padding-medium pour la tablette 
    //--padding-large pour la PC
     
    /*fonts*/
  
   font-size: 62.5%;


   /* Border */
  --border-primary-color: 1px solid yellow;
  --border-secondary-color: 1px solid rgb(116, 255, 227);
  --border-tertiary-color: 1px solid rgb(217, 255, 0);
}   


