:root {
    /* background */
    --background-mobile-header: #00473E;
    --color-white-title: #FFFFFE;
    --color-main-text: #FFFFFF;
    --color-green-title:#078080;
    /* btn primary */


    /* btn secondary */


    /* text */
    
    /*primary-color-text*/
    

    /* stroke */
 
    /*fonts*/
   --font-regular-inter:inter-regular,serif;
   --font-bold-inter:inter-bold,serif;
   --font-medium-inter:inter-medium,serif;
   --font-regular-raleway:raleway-regular,serif;
   font-size: 62.5%;
}   
