:root {
    /* background */
    --background-mobile-header: #00473E;
    //--background-
    
    
    /* btn primary */


    /* btn secondary */
//--btn-primary-color
//--btn-secondary-color

    /* text */
    text-decoration: none;
    --color-white-title: #FFFFFE;
    --color-main-text: #FFFFFF;
    --color-green-title:#078080;
    --color-orange-button:#FA5246;
    /*primary-color-text*/
    


    /* stroke */

    /* Padding */
    //--padding-small pour le mobile
    //--padding-medium pour la tablette 
    //--padding-large pour la PC
     
    /*fonts*/
   --font-regular-inter:inter-regular,serif;
   --font-bold-inter:inter-bold,serif;
   --font-semiBold-inter:inter-semiBold ;
   --font-medium-inter:inter-medium,serif;
   --font-regular-raleway:raleway-regular,serif;
   font-size: 62.5%;
  
}   


