.home {
  

    &__hero {
        width: 100%;
        height: 664px;
        background: url(../../img/hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .homeHero {
            &__filter {
                width: 100%;
                height: 100%;
                padding: 0 1.8rem;
                display: flex;
                align-items: center;
                flex-direction: column;
                background-color: rgba($color: #000000, $alpha: 0.3);
            }

            &__title {
                font-size: 3.6rem;
                font-family: var(--font-bold-inter);
                color: var(--color-white-title);
                margin-top: 18.3rem;
                padding: 0 2.4rem;
            }

            &__text {
                text-align: center;
                color: var(--color-main-text);
                margin: 3.7rem 2rem 0;
                font-family: var(--font-regular-raleway);
                font-size: 2rem;
                padding: 0 2.4rem;
            }


        }

    }

    &__about {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 2.4rem;

        /* @include Media(medium){

        } */
        .homeAbout__content {
            h2 {

                font-family: var(--font-bold-inter);
                color: var(--color-green-title);
                font-size: 2.4rem;
                text-align: center;
                margin-top: 4.1rem;
                margin-bottom: 2.8rem;


            }

            span {

                text-align: center;
                font-size: 1.8rem;
                margin-left: 2.6rem;
                margin-right: 2.5rem;
                font-family: var(--font-regular-inter);
                line-height: 2.178rem;
            }

            p {
                margin-top: 1.8rem;
                text-align: left;
                width: 32.4rem;
                margin-left: 2.5rem;
                margin-right: 2.5rem;
                font-family: var(--font-regular-inter);
                font-size: 1.8rem;
                line-height: 2.178rem;

            }

            img {
                width: 100%;
            }



        }

        a {
            width: 15.7rem;
            height: 4.5rem;

            background-color: var(--color-orange-button);
            color: var(--color-main-text);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            border-radius: 6px;
            font-family: var(--font-regular-inter);
            font-size: 2rem;
            font-weight: 600;
        }

    }

    &__products {
        width: 100%;
        height: fit-content;
        padding: 04.1rem 2.4rem;
        margin-top: 6rem;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--background-mobile-header);
        
        .homeProducts{
            &__title{
                text-align: center;
                color: white;
                width: 100%;
                height: 20px;
                font-family: Inter,Verdana, Tahoma, sans-serif;
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 1.5rem;
                
               
            }
            &__text{
                color: white;
                width: 100%;
                height: 20px;
                font-family: Inter,Verdana, Tahoma, sans-serif;
                font-size: 18px;
                font-weight: 500;
                text-align: center;
                margin-bottom: 4.6rem ;
            }
        }
       

       



    }
}