.home {
    width: 100vw;
    
    &__hero {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 664px;
        background: url(../../img/hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        box-shadow: inset 100em 1em rgba(0, 0, 0, 0.3);

        .homeHero__title {
            font-size: 3.6rem;
            font-family: var(--font-bold-inter);
            color: var(--color-white-title);
            margin-top: 18.3rem;
            padding: 0 2.4rem ;
            
        }
        .homeHero__text{
            text-align: center;
            color: var(--color-main-text);
            margin:3.7rem 2rem 0 ;
            font-family: var(--font-regular-raleway);
            font-size: 2rem;
            padding: 0 2.4rem ;
        }
    }
    &__about{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 2.4rem ;
        /* @include Media(medium){

        } */
        .homeAbout__content{
            h2{
                
                font-family: var(--font-bold-inter);
                color: var(--color-green-title);
                font-size: 2.4rem;
                text-align: center;
                margin-top: 4.1rem;
                margin-bottom: 2.8rem;


            }
            span{
                
                text-align: center;
                font-size: 1.8rem;
                margin-left: 2.6rem;
                margin-right: 2.5rem;
                font-family: var(--font-regular-inter);
                line-height: 2.178rem;
            }
            p{
                margin-top: 1.8rem;
                text-align: left;
                width: 32.4rem;
                margin-left: 2.5rem;
                margin-right: 2.5rem;
                font-family: var(--font-regular-inter);
                font-size: 1.8rem;
                line-height: 2.178rem;

            }
            img{
               width: 100%; 
            }

            

        }
        a{
            width: 15.7rem;
            height: 4.5rem;
            
            background-color: var(--color-orange-button);
            color: var(--color-main-text);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            border-radius: 6px;
            font-family: var(--font-regular-inter);
            font-size: 2rem;
            font-weight: 600;
        }
        
    }
    &__products{
        width: 100%;
        padding: 0 2.4rem ;
        margin-top: 6.3rem;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--background-mobile-header);
        h3{
            width: 100%;
            text-align: center;
            color:var(--color-white-title);
            font-family: var(--font-bold-inter);
            font-size: 2.4rem;
            margin: 4.1rem 0 1rem 0;
        }
        p{
            width: 100%;
            text-align: center;
            margin: 1rem 0 2.1rem 0;
            font-family: --font-medium-inter;
            color: var(--color-main-text);
            font-size: 1.8rem;
            padding: 0 1.9rem;
        }
       
       

    }
}