/*  @font-face {
    font-display: swap;
    font-family: Baloo;
    font-weight: bold;
    src: url("../font/baloo/Baloo2-Bold.ttf");
}
  */

  @font-face {
    font-display: swap;
    font-family: Inter;
    font-weight: 400;
    src: url(../fonts/Inter-Medium.ttf);
   }
   @font-face {
    font-display: swap;
    font-family: Inter;
    font-weight: bold;
    src: url(../fonts/Inter-Bold.ttf);
   }
   @font-face {
    font-display: swap;
    font-family: Inter;
    font-weight: 600;
    src: url(../fonts/Inter-SemiBold.ttf);
   }
   @font-face {
    font-display: swap;
    font-family: Inter;
    font-weight:400;
    src: url(../fonts/Inter-Regular.ttf);
   }
   @font-face {
    font-display: swap;
    font-family: raleway;
    font-weight: 400;
    src: url(../fonts/Raleway-Regular.ttf);
   }
